@model GitHome.Models.Client

@{
    ViewBag.Title = "Create";
}

<h2>Add Client</h2>

@using (Html.BeginForm("Create", "Client"))
{
    <!--FirstName-->
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <!--LastName-->
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <!--Email Address-->
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <!--PhoneNumber-->
    <div>
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

    <button type="submit" value="Save" class="btn btn-primary btn-lg form-control">Save</button>
}

